---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap items-center justify-center"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1.5 py-0.5 text-xs rounded mr-1 inline-block"
  >
    ¿Tienes dudas o necesitas ayuda?
  </span>
  <a
    href="https://wa.me/51933167550?text=Hola%2C%20quisiera%20más%20información%20sobre%20sus%20servicios"
    target="_blank"
    rel="noopener noreferrer"
    class="text-muted hover:underline dark:text-slate-400 font-semibold text-xs"
  >
    Escríbenos 
  </a>
</div>
